@charset "utf-8";
@import url(http://fonts.googleapis.com/css?family=Righteous);

html { overflow:hidden }
body { font:12px/1.6 arial; color:#555; }

#menu { position:fixed; top:40%; transform:translateY(-40%); left:50px; z-index:99 }
#menu li {  margin:10px 0  }

#menu li a { display:block; height:20px;  width:20px;
    border-radius:50%; border: 1px solid #bbb; background-color:yellow;
    position:relative 
}
#menu li.on a { background-color:#bbb; transform:scale(1.2) }



#menu li a span { position:absolute; top:3px; left:30px; 
    width:100px; display:none; }    
#menu li.on a span { display:block }

#wrap { width:400vw; height:100vh}
section { 
    float:left;
    width:100vw; 
    height:100vh; 
    position:relative;
    border:1px solid #bbb;
    overflow:hidden; 
}
/*첫번째 박스*/
.inner {
    height:100vh;     
    /* background-image:url(../img/1yellow.png);
    background-size: contain;
    background-size:cover;
    background-repeat:no-repeat;
    background-position:right center; */
    position:relative;

}

.inner .pbox {
    /* top:50%;
    transform:translateY(-50%); 
    left:300px;  */
    font-size:15px;
    position:relative;
    height:100vh; 
    width:50vw;
    transform:skew(-55deg) translateX(-100px);
    border-right:50px solid #bbb;
    }
.inner .pbox p img {
    width:50px; position:absolute; top:-50px; left:0px;
}
.inner .pbox p { left:110%; width:500px; position:absolute;
    text-align:left; opacity:0.3; transform:skew(55deg);}
.inner .pbox p:nth-of-type(1){
    bottom:13%; 
    animation: anis 0.5s both 1.0s;
}
@keyframes anis{
    0%{opacity:0.3}
    100%{opacity:1}
}
.inner .pbox p:nth-of-type(2){
    bottom:38%;
    animation: anis 0.5s both 2.5s;
}
.inner .pbox p:nth-of-type(3){
    bottom:63%;
    animation: anis 0.5s both 3.5s;
}    
.inner .pbox p:nth-of-type(3) img{left:-25px}
.inner .pbox span { display:block; }
.inner .smile4{
    position:absolute;
    top:180px;
    right:30px; }
/* .inner .text .smile4:hover{
    position:absolute;
    top:180px;
    right:30px;
    opacity:1 } */
.inner .myphoto{
    position:absolute;
    top:180px;
    right:30px;
    opacity:0.5  
}
.inner .myphoto:hover{
    opacity:1}
    
/*자전거 부분*/
#sect1 .inner .pbox .bycicle{position:absolute;
    bottom:0px; right:0px; z-index:999999;
    transform: skew(55deg) rotate(-26deg);
    }
    #sect1 .inner .bycicle.on { animation:bicycle 4.0s both }
    @keyframes bicycle{ 
        0%{transform:rotate(-26deg) translate3d(0px,0px,0)}
        25%{transform:rotate(-26deg) translate3d(160px,-30px,0)}
        50%{transform:rotate(-26deg) translate3d(400px,-60px,0)}
        100%{transform:rotate(-26deg) translate3d(700px,-100px,0)}
    } 
#sect1 .inner .text { color:#666;}
/* #sect1 .line {
    position:absolute;
    left:-48px;
    width:50px;
    height:95vw;
    background-color:#bbb;
    transform:skew(-57deg)
    
} */

/* 두번째 박스(스킬 그래프) */

   
#sect2{position:relative}

#sect2 .paint {position:absolute; width:100px; margin:2% 0 3% 18%;  }
#sect2 .paint.on{animation:paint 2s both}
   @keyframes paint{ 
    0%{transform:translate3d(0px,0px,0)}
    100%{transform:translate3d(500px,0px,0)}
}
.skillContainer { position:absolute; top:50%; transform:translateY(-50%);
    text-align:center; padding:10% 10% 10% 20%; width:100% }
.skillContainer > div {
    height:50px; 
    width:100%; margin:30px 0; 
    /* border:2px solid #bbb; */
    position:relative; 
    /* box-shadow:0px 0px 10px #bbb; */
    /* border-radius:50px; */
}
.skillContainer > div > p {
    position:absolute; right:100%; top:50%; transform:translate(-20px, -50%);
    font-size:20px; text-align:center; }
.skillContainer > div > .score { position:absolute; left:0; top:0; 
    height:100%; width:0%; transition:all 0.5s;  
    /* border-radius:50px 0 0 50px;  */
}
.skillContainer > div.html > .score { background:yellow;}
.skillContainer > div.css > .score { background:yellow;}
.skillContainer > div.script > .score { background:yellow;}
.skillContainer > div.jquery > .score {  background:yellow;}
.skillContainer > div.react > .score {  background:yellow;}
/* .skillContainer> div.html.on > .score { width:70%; transition-delay: 0s; }
.skillContainer> div.css.on > .score { width:60%;  transition-delay: 0.2s; }
.skillContainer> div.script.on > .score { width:80%; transition-delay: 0.4s; }
.skillContainer> div.jquery.on > .score { width:60%; transition-delay: 0.6s; }
.skillContainer> div.react.on > .score { width:50%;  transition-delay: 0.8s; } */

.skillContainer > div > .score > .myscore {
    position:absolute; right:10px; 
    top:50%; color:#000; 
    transform:translateY(-50%);
    font-size:20px; opacity:1; 
}

/* 세번째 박스 */
#sect3 { padding:50px 100px }
#sect3 .category { font-size:20px; color:#fff; margin-bottom:20px }
#sect3 .category a { background-color:#bbb; padding:7px 20px; display:inline-block;  border-radius:20px; margin-right:10px }
#sect3 ul { overflow:hidden;  }
#sect3 ul li { float:left; width:23.5%; margin:10px 0;  
    margin-right:2%; 
    transform:scale(0.5);
    opacity:0;
    transition:all 0.5s;
    transition-delay:0s;
}
#sect3.on ul li {
    transform:scale(1);
    opacity:1;
}
#sect3.on ul li:nth-child(1) { transition-delay:0s }
#sect3.on ul li:nth-child(2) { transition-delay:0.2s }
#sect3.on ul li:nth-child(3) { transition-delay:0.4s }
#sect3.on ul li:nth-child(4) { transition-delay:0.6s }
#sect3.on ul li:nth-child(5) { transition-delay:0.8s }
#sect3.on ul li:nth-child(6) { transition-delay:1.0s }
#sect3.on ul li:nth-child(7) { transition-delay:1.2s }
#sect3.on ul li:nth-child(8) { transition-delay:1.4s }

#sect3 ul li:nth-child(4n) { margin-right:0 }

/* 4번째 박스 */
#sect4 { padding:50px 400px 300px 500px;
    background:url(../img/yellowcard.jpg) no-repeat center;
    background-size: contain; }

#sect4 .formbox {
    opacity:0;
    transform:translate3d(0, 100%, 0);
    transition:all 0.5s;
   
}
#sect4.on .formbox {
    opacity:1;
    transform:translate3d(0, 0%, 0);
}

#sect4 col:nth-child(1) { width:20% }
#sect4 col:nth-child(2) { width:80% }
#sect4 td { padding:10px 3px; font-size:14px; color:#000 }
#sect4 input[type=text] { width:60px; height:30px; border:1px solid #000 }
/* #sect4 textarea { width:70px; height:70px; border:1px solid #000 } */
#sect4 .btn { text-align:center; margin:20px }
#sect4 button { border:none; border-radius:20px; width:40px; height:30px; font-size:14px; color:#fff }
#sect4 button[type=submit] { background-color:#bbb}
#sect4 button[type=reset] { background-color:#bbb}

@media screen and (max-width:1500px) {
    #sect1 .inner .bycicle.on { animation:bicycle 4.0s both }
    @keyframes bicycle{ 
        0%{transform:skew(55deg) rotate(-26deg) translate3d(-100px, 0px, 0)}
        13%{transform:skew(55deg) rotate(-26deg) translate3d(230px, -70px, 0)}
        38%{transform:skew(55deg) rotate(-26deg) translate3d(530px, -120px, 0)}
        63%{transform:skew(55deg) rotate(-26deg) translate3d(760px, -160px, 0)}
        100%{transform:skew(55deg) rotate(-26deg) translate3d(760px, -160px, 0)}
    }


}


@media screen and (max-width:1300px) {

    .inner .smile4{
        display:none }
    
    .inner .myphoto{
        display:none
    }
    
}


  
